@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 100px;
}

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

/*estilização header*/
header {
    position: fixed;
    top: 0;
    background-color: var(--color-neutral-10);
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    text-align: center;
    z-index: 40;
    width: 100%;
    height: 5.5rem;
}

.nav-bar {
    display: inline-flex;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a,
h1 {
    color: var(--color-neutral-40);
    text-decoration: none;
}

.nav-list {
    display: flex;
    place-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color-neutral-40);
    font-weight: 400;
}

.nav-list a li::after {
    content: '';
    display: block;
    border-bottom: solid 1px var(--color-neutral-40);
    padding-bottom: 1%;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

.nav-list a li:hover:after {
    transform: scaleX(1);
}

.pay-button button {
    width: 40px;
    height: 40px;
    background-color: var(--color-neutral-10);
    border: none;
    cursor: pointer;
    padding: 10px 0;
}

.pay-button button i {
    font-size: 24px;
    text-decoration: none;
    color: var(--color-neutral-40);
    border-radius: 15px;
}

.pay-button button:hover {
    opacity: .7;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.slide {
    display: flex;
    justify-content: center;
}

.slide img {
    height: 2%;
    width: 62rem;
    margin-top: 7rem;
}

#textoslide {
    text-align: center;
    margin-top: 3rem;
}

#textoslide h1 {
    color: var(--color-neutral-0);
    font-weight: bold;
    font-family: fantasy;
    font-size: 3rem;
}

#buttonslide {
    text-align: center;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
}

#btn {
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--color-neutral-40);
    background-color: var(--color-neutral-10);
    border-radius: 5px;
    border: none;
    padding: 1.5rem;
    height: 5rem;
    width: 15rem;
}

#btn:hover {
    box-shadow: 10px 5px 7px 1px rgba(0, 0, 0, .30);
    transform: translateY(-2px);
    transition: 0.2s;
}

#titulobanner {
    margin-top: 10rem;
    font-size: 3rem;
    font-family: fantasy;
}

.banner {
    display: flex;
    justify-content: center;
    gap: .3rem;
    flex-wrap: wrap;
}

.banner img {
    width: 25rem;
}

.containerItens {
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3.5rem;
}

.containerItens img {
    width: 100%;
    height: 20rem;
}

.itens {
    padding: 1rem;
    width: 25rem;
    height: 25rem;
    cursor: pointer;
    border-radius: 5px;
}

main {
    margin-top: 10rem;
}

#textocategoria {
    text-align: center;
    font-weight: bold;
    font-family: fantasy;
    font-size: 2rem;
}

.categoria {
    width: 100%;
    height: 100%;
}

.divcategoria img {
    width: 260px;
    height: 400px;
    position: relative;
    opacity: 70%;
    cursor: pointer;
    filter: brightness(80%) blur(.2px)
}

.divcategoria img:hover {
    filter: brightness(100%) blur(0);
    box-shadow: 5px 2px 5px 1px rgba(0, 0, 0, .30);
    transform: scale(1.05, 1.05);
    transition-delay: 0.1s;
    transition-duration: 0.7s;
    transition-property: all;
    transition-timing-function: ease;
    /*cubic-bezier(0.165, 0.84, 0.44, 1);*/
    opacity: 100%;

}

.divcategoria {
    display: flex;
    gap: .8rem;
    justify-content: center;
    flex-wrap: wrap;
}

#textoentrega p {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    font-family: fantasy;
    font-weight: bold;
    font-size: 2rem;
}

#modoentrega {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 5rem;
}

#modoentrega img {
    width: 140px;
    height: 140px;
    padding-left: 76px;
}

.quadro {
    border-radius: 5px;
    width: 300px;
    padding: 2rem;
    cursor: pointer;
}

.quadro h4 {
    text-align: justify;
}

.quadro:hover {
    background-color: rgba(247, 241, 241, 0.589);
    transform: translateY(2px);
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, .30);
    transition: .5s;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h3 {
    margin-bottom: 0.75;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link,
.footer_payment .footer-pay {
    color: var(--color-neutral-30);
}

#footer_payment h3 {
    margin-bottom: 0.75;
}

#footer_payment .footer-link {
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-30);
    align-items: center;
    justify-content: center;
}

hr {
    border-color: var(--color-neutral-30);
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-10);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

#footer_copyright .footer-link {
    margin: 5rem;
    text-decoration: none;
    color: var(--color-neutral-40);
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem 2.5rem;
    }

    #textocategoria {
        font-size: 2rem;
    }

    .slide img {
        width: 23rem;
    }

    #textoslide h1 {
        font-size: 2rem;
        color: var(--color-neutral-0);
    }

    #textoslide h4 {
        color: var(--color-neutral-0);
        font-size: 1.2rem;
    }

    #btn {
        font-size: 1rem;
        width: 10rem;
    }

    .banner #img2 {
        visibility: hidden;
        width: 0;
    }

    .icon {
        margin-right: 30px;
    }

    #footer_copyright {
        display: block;
        text-align: center;
    }

    .quadro h4 {
        font-size: 1.4rem;
        text-align: center;
    }

    #textoentrega p {
        font-size: 1.5rem;
        text-align: center;
    }

    .nav-bar {
        display: contents;
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .pay-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: inline-flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 2.2rem;
    }

    .mobile-menu .pay-button {
        width: 100%;
        display: block;
    }

    .mobile-menu .pay-button button {
        background-color: transparent;
    }

    .open {
        display: block;
        position: fixed;
        background-color: #171717ad;
        width: 100%;
        top: 5rem;
        padding: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 3.5rem;
    }

    #textocategoria {
        font-size: 2.5rem;
    }

    .slide img {
        width: 40rem;
    }

    #textoslide h1 {
        color: var(--color-neutral-0);
        font-size: 2.5rem;
    }

    #textoslide h4 {
        color: var(--color-neutral-0);
        font-size: 1.4rem;
    }

    #footer_copyright {
        flex-direction: column;
        text-align: center;
    }

    .quadro h4 {
        font-size: 1.4rem;
        text-align: center;
    }

    .nav-bar {
        display: contents;
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .pay-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: inline-flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 2.2rem;
    }

    .mobile-menu .pay-button {
        width: 100%;
        display: block;
    }

    .mobile-menu .pay-button button {
        background-color: transparent;
    }

    .open {
        display: block;
        position: fixed;
        background-color: #171717ad;
        width: 100%;
        top: 5rem;
    }
}